---
layout: default
---

    <div>

  	{% assign index = true %}
  	{% assign year  = '' %}

    <ul class="article-list">
    {% for post in paginator.posts %}
    {% assign page = post %}
        <li class="list-item">
            <a href="{{ page.url }}">
                <div>
                    <h3 style="list-title">{{ page.title }}</h3>
                </div>
                <div class="list-preview">
                    {{ post.content | strip_html | truncate:150 }}
                </div>
            </a>
            <span class="list-date">—— Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
        </li>
        <hr/>
    {% endfor %}
      <!-- 只在每一页的最底部加一个广告，貌似不加载出来就会空白一块 -->
      <!-- note by priesttomb 暂时关闭广告
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-format="fluid"
           data-ad-layout-key="-gw-r+j-4b+e4"
           data-ad-client="ca-pub-6860945771889779"
           data-ad-slot="7871930630"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script> -->
    </div>
    </ul>

    {% if paginator.total_pages > 1 %}
    <div class="pagination modal-2">
      {% if paginator.previous_page %}
        <li><a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; </a></li>
      {% else %}
        <li><a class="prev">&laquo; </a></li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li><a class="active" href="#">{{ page }}</a></li>
        {% elsif page == 1 %}
          <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li><a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &raquo;</a></li>
      {% else %}
        <li><a class="next"> &raquo;</a></li>
      {% endif %}
    </div>
    {% endif %}

</div>

<br/>
