{% if site.firebase.enable %}
  <script src="{{ site.baseurl }}/js/jquery-3.2.0.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-database.js"></script>
  <script>
    var firebaseConfig = {
      apiKey: "{{site.firebase.api_key}}",
      authDomain: "{{site.firebase.project_id}}.firebaseapp.com",
      databaseURL: "https://{{site.firebase.project_id}}.firebaseio.com",
      projectId: "{{site.firebase.project_id}}",
      storageBucket: "{{site.firebase.project_id}}.appspot.com",
      messagingSenderId: "{{site.firebase.sender_id}}",
      appId: "{{site.firebase.app_id}}"
    };
    firebase.initializeApp(firebaseConfig);
  </script>

  <script>
    var database = firebase.database();
    var postRef = database.ref("post");
    var visitorRef = database.ref("visitor");

    var ip = "1.2.3.4";
    //定义一个全局当前IP访问记录对象
    var curVisitor = null;
    var curVisitorId = "";
    //定义一个全局当前文章对象
    var curPost = null;
    var curPostId = "";
    //点赞更新是否完成，避免有人连续点击按钮，数据更新出错
    var bIsOperateEnd = true;

    //调用API获取IP
    function getVisitorIpAndJudge() {
      //note by PriestTomb 2018-07-08
      //freegeoip近期有变动，取ip改为用api.ipify.org，并设置"默认"ip:1.2.3.4
      //用json格式获取
      var options = {
        type: 'GET',
        dataType: "json",
        //async: false, //jquery3中可以直接使用回调函数，不用再指定async
        url: "https://api.ipify.org/?format=json"
      };
      $.ajax(options)
      .done(function(data, textStatus, jqXHR) {
        if(textStatus == "success") {
          try {
            ip = data.ip;
          } catch (e) {
            if(window.console){
              console.log(e.message);
            }
          }
        }
        saveOrUpdateIpRecord();
      });
    }

    //判断访客是否已访问过该文章，及访问时间，符合条件则增加一次访问次数
    function saveOrUpdateIpRecord() {
      var $postInfo = $(".database_visitor");
      var post_url = $postInfo.attr('id').trim();
      var key = ip + "||" + post_url;
      curVisitorId = "/visitor/" + md5(key);

      database.ref(curVisitorId)
        .once("value").then(function(snapshot){
          if (snapshot.exists()) {
            if(window.console){
              console.log('该IP已访问过该文章');
            }

            //此 IP 已访问过该文章，初始化访问对象
            curVisitor = {};
            curVisitor[curVisitorId + "/update_time"] = (snapshot.val() && snapshot.val().update_time) || 0;
            curVisitor[curVisitorId + "/like_post"] = (snapshot.val() && snapshot.val().like_post) || false;
            curVisitor[curVisitorId + "/host"] = window.location.host;
            updateIpRecord();
            refreshLikeBtn();
          } else {
            if(window.console){
              console.log('该IP第一次访问该文章，保存新的访问记录，并增加访问次数');
            }

            // 此 IP 未访问过该文章
            addPostVisitedTimes();
            addNewIpRecord();
          }
        });
    }

    //新增访问次数
    function addPostVisitedTimes() {
      var $visitors = $(".database_visitor");
      var url = $visitors.attr('id').trim();
      var title = encodeURI($visitors.attr('data-flag-title').trim());

      if (curPost == null) {
        //没有记录，需要初始化
        curPost = {};
        curPost[curPostId + "/title"] = title;
        curPost[curPostId + "/like_times"] = 0;
        curPost[curPostId + "/visit_times"] = 1;
        curPost[curPostId + "/update_time"] = dateFormat("yyyy-MM-dd hh:mm:ss");
        curPost[curPostId + "/host"] = window.location.host;
      } else {
        //喜加一
        curPost[curPostId + "/visit_times"] += 1;
        curPost[curPostId + "/update_time"] = dateFormat("yyyy-MM-dd hh:mm:ss");
      }
      var $element = $(document.getElementById(url));
      $element.find('.database_visitor_count').text(curPost[curPostId + "/visit_times"]);
      database.ref().update(curPost);
    }

    //仅根据url和title查出当前访问次数，不做+1操作
    function showPostVisitedTimes() {
      var $visitors = $(".database_visitor");
      var url = $visitors.attr('id').trim();
      var title = encodeURI($visitors.attr('data-flag-title').trim());
      curPostId = "/post/" + md5(url);

      database.ref(curPostId)
        .once("value").then(function(snapshot){
          if (snapshot.exists()) {
            //数据库中已经记录了这篇文章
            curPost = {};
            curPost[curPostId + "/title"] = (snapshot.val() && snapshot.val().title) || title;
            curPost[curPostId + "/like_times"] = (snapshot.val() && snapshot.val().like_times) || 0;
            curPost[curPostId + "/visit_times"] = (snapshot.val() && snapshot.val().visit_times) || 1;
            curPost[curPostId + "/update_time"] = (snapshot.val() && snapshot.val().update_time) || dateFormat("yyyy-MM-dd hh:mm:ss");
            curPost[curPostId + "/host"] = window.location.host;

            var $element = $(document.getElementById(url));
            $element.find('.database_visitor_count').text(curPost[curPostId + "/visit_times"]);

            loadLikeNums();
          } else {
            //不在此处做初始化
          }
        });
    }

    //更新IP访问记录(有规则限制)
    function updateIpRecord(){
      var lastTime = curVisitor[curVisitorId + "/update_time"];
      var curTime = new Date().getTime();

      var timePassed = curTime - lastTime;

      if(timePassed > 1 * 60 * 1000) {
        if(window.console){
          console.log('距离该IP上一次访问该文章已超过了1分钟，更新访问记录，并增加访问次数');
        }

        addPostVisitedTimes();

        curVisitor[curVisitorId + "/update_time"] = curTime;
        database.ref().update(curVisitor);
      } else {
        if(window.console){
          console.log('这是该IP 1分钟内重复访问该文章，不更新访问记录，不增加访问次数');
        }
      }
    }

    //添加新的IP访问记录
    function addNewIpRecord(){
      var timestamp = new Date().getTime();
      curVisitor = {};
      curVisitor[curVisitorId + "/create_time"] = timestamp;
      curVisitor[curVisitorId + "/update_time"] = timestamp;
      curVisitor[curVisitorId + "/like_post"] = false;
      curVisitor[curVisitorId + "/host"] = window.location.host;
      database.ref().update(curVisitor);
    }

    //加载点赞数
    function loadLikeNums() {
      var likeTimes = curPost[curPostId + "/like_times"];
      $("#likeNum").text(likeTimes);
    }

    //刷新点赞按钮的状态
    function refreshLikeBtn() {
      var likeState = curVisitor[curVisitorId + "/like_post"];
      if(likeState){
        $("#likeBtn").css("color", "red");
        $("#likeBtn").attr("onclick", "alert('点了赞还想取消？哼o(￣ヘ￣o＃)')");
        //mod by PriestTomb 2019-04-15 点了赞就憋想跑了
        //$("#likeBtn").attr("onclick", "likePost(-1)");
      } else {
        $("#likeBtn").css("color", "black");
        $("#likeBtn").attr("onclick", "likePost()");
      }
      loadLikeNums();
    }

    //点赞了文章
    function likePost() {
      if(curPost == null || curVisitor == null) {
        alert("本站使用 Google 的 Firebase 作为数据存储，当前您的网络貌似不能访问，这不影响您查看文章，但点赞功能将不能使用，非常抱歉。");
      }
      //避免狂点按钮，导致数据错乱的情况
      if(!bIsOperateEnd) {
        return
      }
      bIsOperateEnd = false;

      //更新 Post 表的点赞数量
      curPost[curPostId + "/like_times"] += 1;
      database.ref().update(curPost, function(error) {
        if (error) {
          alert("点赞异常，请稍后再试。");
          bIsOperateEnd = true;
        } else {
          //成功，再更新 Visitor 记录
          curVisitor[curVisitorId + "/like_post"] = true;
          database.ref().update(curVisitor, function(error2){
            if (error2) {
              alert("点赞异常，请稍后再试。");
            }
            refreshLikeBtn();
            bIsOperateEnd = true;
          });
        }
      });
    }

    function dateFormat(fmt) {
      var curDate = new Date();
      var o = {
        "M+" : curDate.getMonth()+1, //月份
        "d+" : curDate.getDate(),    //日
        "h+" : curDate.getHours(),   //小时
        "m+" : curDate.getMinutes(), //分
        "s+" : curDate.getSeconds()  //秒
      };
      if(/(y+)/.test(fmt)) {
        fmt=fmt.replace(RegExp.$1, (curDate.getFullYear()+"").substr(4 - RegExp.$1.length));
      }
      for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
          fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        }
      }
      return fmt;
    }

    $(function() {
      if ($('.database_visitor').length == 1) { //文章页面
        //先显示访问次数及赞数
        showPostVisitedTimes();

        //再获取ip，进行判断，对符合条件的访问增加访问次数
        getVisitorIpAndJudge();
      }
    });
  </script>
{% endif %}

<footer class="site-footer">
  <div class="footer-div">
    <div class="copyright">
      Copyright © 2020 Priest Tomb
    </div>
    <div>
      Powered by <a href="https://github.com/jekyll">Jekyll</a>
      &nbsp;|&nbsp;
      <a href="https://github.com/PriestTomb" style="color:black;">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      &nbsp;|&nbsp;
      <!-- 2017-12-14 加入站长统计 -->
      <span id='cnzz_stat_icon_1267535490'></span>
      <script src="https://s13.cnzz.com/z_stat.php?id=1267535490&show=pic" type='text/javascript'></script>
    </div>
  <div>
</footer>
