<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.excerpt %}{% if page.content contains '<!-- more -->' %}{{ page.excerpt|strip_html|trim }}{% endif %}{% else %}{{ site.description }}{% endif %}">

    {% if page.image %}<meta name="thumbnail" content="{{ site.baseurl | prepend: site.url }}{{ page.image }}" />{% endif %}


    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/monster.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/pagination/style.css" | prepend: site.baseurl }}">
    <!-- <link rel="stylesheet" href="{{"/css/rouge_monokai.sublime.css" | prepend: site.baseurl}}"> -->
    <link rel="stylesheet" href="{{"/css/rouge_github.css" | prepend: site.baseurl}}">
    <!-- note by priesttomb 暂时关闭广告
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6860945771889779",
        enable_page_level_ads: true
      });
    </script> -->
</head>
