<div class="article-title">
    {% if page.title %}
    <span class="article-meta">Title: </span><span class="truly-title">{{ page.title }}</span>
    {% endif %}
</div>

<div class="article-meta">
		<div>
		Date:
				{{ page.date | date: "%Y-%m-%d" }}
		</div>

    {% if site.leancloud.enable %}
    <div>
      <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">
        Visited:
        <a href="#"><span class="leancloud-visitors-count"></span>次</a>
      </span>
    </div>
    {% endif %}

		<div>
		{% if page.categories %}
		Category:
        {% for category in page.categories %}
        		<a href="/{{site.categories_path}}/#{{category}}-ref" >{{ category|capitalize }}</a>
        {% endfor%}
    {% endif %}
		</div>

		<div>
    {% if page.tags %}
		Tag:
        {% for tag in page.tags %}
            <a href="/{{site.tags_path}}/#{{tag}}-ref" >{{ tag|capitalize }}</a>
        {% endfor%}
    {% endif %}
		</div>
</div>

<hr/>

<div class="entry post">
	<div class="entry-content">
	  <article class="entry-body">
	  	{% if content %}
	  		{{ content }}
  		{% else %}
	  		{{ page.excerpt }}
	  		{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ page.url }}">Read more »</a></p>
	  		{% endif %}
  		{% endif %}
	  </article>
    </div>
</div>

<hr/>
<div class='like-post'>
    觉得写的还行，您就点个赞吧，谢谢
    <br/>
    <font size="1">(自己写的点赞功能，可能会有BUG哈哈)</font>
    <br/>
    <a style="color:black;" id="likeBtn" onclick="likePost(1);">
      <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
    </a>
  <span id="likeNum">0</span>
</div>
<hr/>

<div id="gitalk-container"></div>
<link rel="stylesheet" href="{{ site.baseurl }}/css/gitalk.css">
<script src="{{ site.baseurl }}/js/gitalk.min.js"></script>
<script src="{{ site.baseurl }}/js/md5.min.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: '7b297c5236c92234b2fa',
  clientSecret: 'ee76f28abe51eabba3db45735b693edfc4fb5a69',
  repo: 'PriestTomb.github.io',
  owner: 'PriestTomb',
  admin: ['PriestTomb'],
  id: md5(location.pathname)
})

gitalk.render('gitalk-container')
</script>


{% if content and page.author_footer != false %}


{% endif %}
