<div class="article-title">
    {% if page.title %}
    <span class="article-meta">Title: </span><span class="truly-title">{{ page.title }}</span>
    {% endif %}
</div>

<div class="article-meta">
		<div>
		Date:
				{{ page.date | date: "%Y-%m-%d" }}
		</div>

    {% if site.firebase.enable %}
    <div>
      <span id="{{ page.url }}" class="database_visitor" data-flag-title="{{ page.title }}">
        Visited:
        <a href="#"><span class="database_visitor_count"></span>次</a>
      </span>
    </div>
    {% endif %}

		<div>
		{% if page.categories %}
		Category:
        {% for category in page.categories %}
        		<a href="/{{site.categories_path}}/#{{category}}-ref" >{{ category|capitalize }}</a>
        {% endfor%}
    {% endif %}
		</div>

		<div>
    {% if page.tags %}
		Tag:
        {% for tag in page.tags %}
            <a href="/{{site.tags_path}}/#{{tag}}-ref" >{{ tag|capitalize }}</a>
        {% endfor%}
    {% endif %}
		</div>
</div>

<hr/>

<div class="entry post">
	<div class="entry-content">
	  <article class="entry-body">
      {{ content }}
	  </article>
  </div>
</div>

<hr/>

<div class="copyright-notice">
  <h3 class="copyright-title">版权声明</h3>
  <p class="copyright-content">
    本文<span id="cur-post"></span>首发且仅发布于<a href="https://priesttomb.github.io/">没有名字的博客</a>，<b>禁止一切形式的转载</b>。<br>
    少一次无脑的转载，中文圈就少一些重复又恶心的搜索结果。
  </p>
</div>

<hr/>
<div class='like-post'>
    觉得写的还行，您就点个赞吧，谢谢。
    <br/>
    <a style="color:black;" id="likeBtn" onclick="likePost(1);">
      <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
    </a>
  <span id="likeNum">0</span>
</div>
<hr/>

<div id="gitalk-container"></div>
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/gitalk.css">
<script src="{{ site.baseurl }}/js/gitalk.min.js"></script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery-3.2.0.min.js"></script>
<script src="{{ site.baseurl }}/js/md5.min.js"></script>
<script src="{{ site.baseurl }}/js/toc.js"></script>
<script src="{{ site.baseurl }}/js/jquery.nav.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: '7b297c5236c92234b2fa',
  clientSecret: 'ee76f28abe51eabba3db45735b693edfc4fb5a69',
  repo: 'PriestTomb.github.io',
  owner: 'PriestTomb',
  admin: ['PriestTomb'],
  id: md5(location.pathname)
})

gitalk.render('gitalk-container')

// 新增版权声明相关
var curPostTitle = document.title;
var curPostUrl = window.location.href;
document.getElementById("cur-post").innerHTML = "<a href='"+curPostUrl+"'>《"+curPostTitle+"》</a>";

// 新增目录
$(document).ready(function() {
    $('#toc').toc({ noBackToTopLinks: true });
    // 自动悬浮在顶端
    var tocDiv = document.getElementById("toc"), H = 0, Y = tocDiv;
    while (Y) {
        H += Y.offsetTop;
        Y = Y.offsetParent;
    }
    window.onscroll = function() {
        var s = document.body.scrollTop || document.documentElement.scrollTop;
        if(s>H) {
            tocDiv.style = "position:fixed;top:10px;";
        } else {
            tocDiv.style = "";
        }
    }
    $('#toc').onePageNav({
      scrollThreshold: 0.7,
      scrollChange: function($currentListItem) {
        setTimeout(() => {
          // 当前元素与 toc 顶部的高度差
          var diffHeight = $currentListItem.offset().top - $('#toc').offset().top;
          var tocHeight = $('#toc').height();
          var endDiffHeight = Math.round(tocHeight / 2);

          if (diffHeight > tocHeight || diffHeight <= 0) {
            $('#toc').animate({ scrollTop: "+=" + (diffHeight - endDiffHeight) }, 500);
          }
        }, 100);
      }
    });
});
</script>


{% if content and page.author_footer != false %}


{% endif %}
