<div class="article-title">
    {% if page.title %}
    <span class="article-meta">Title: </span><span class="truly-title">{{ page.title }}</span>
    {% endif %}
</div>

<div class="article-meta">
		<div>
		Date:
				{{ page.date | date: "%Y-%m-%d" }}
		</div>

		<div>
		{% if page.categories %}
		Category:
        {% for category in page.categories %}
        		<a href="/{{site.categories_path}}/#{{category}}-ref" >{{ category|capitalize }}</a>
        {% endfor%}
    {% endif %}
		</div>

		<div>
    {% if page.tags %}
		Tag:
        {% for tag in page.tags %}
            <a href="/{{site.tags_path}}/#{{tag}}-ref" >{{ tag|capitalize }}</a>
        {% endfor%}
    {% endif %}
		</div>
</div>

<hr>

<div class="entry post">

	<div class="entry-content">
	  <article class="entry-body">
	  	{% if content %}
	  		{{ content }}
  		{% else %}
	  		{{ page.excerpt }}
	  		{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ page.url }}">Read more »</a></p>
	  		{% endif %}
  		{% endif %}
	  </article>
    </div>

</div>

{% if content and page.author_footer != false %}


{% endif %}
